.searchbox button {
    border: 1px solid #101D42;
}

.searchbox button:hover {
    background-color: green;
    color: #ffffff;
}

.form-control{
    background-color: rgb(68, 184, 68);
    margin-right: 20cm;
}

p{
    padding-top: 10px;
    margin-right: 20cm;
}